#friends-display-link {
  display: block;
  text-align: center;
  background-color: #a73430;
  padding: 15px 0;
  margin-bottom: 10px;
}
#friends-display-link i {
  /* color: rgba(0, 0, 0, 0.3); */
  opacity: 0.6;
}
.friends-screen * {
  color: khaki;
}
.friends-screen {
  padding: 0 var(--horizontal-space);
  background-color: rgba(167, 30, 37, 0.7);
}
.friends-screen__channel,
.friends-screen__lists {
  border-top: 1px solid rgba(214, 195, 84, 0.7);
  padding: 15px 0;
}
.friends-screen__lists {
  padding-bottom: 80px;
}
.friends-screen__channel-header,
.friends-screen__lists-header {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
}
